@model IEnumerable<Seguimiento.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.nroTraking">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.nroTraking">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.nroTraking">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
