@model IEnumerable<Seguimiento.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<div class="imagen_superior">
    <h1 class="titulo">Productos</h1>

    <p>
        <a class="boton-link" asp-action="Create"> Crear un nuevo producto</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.nombre).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.precio).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.cantidad).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.talle).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.imagen).ToUpper()
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.talle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagen)
            </td>
            <td>
                <a class="boton-link" asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a class="boton-link" asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                <a class="boton-link" asp-action="Delete" asp-route-id="@item.id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
