@model Seguimiento.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<h4 class="titulos_detalles">Detalles del empleado</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre).ToUpper()
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellido).ToUpper()
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellido)
        </dd>
    </dl>
</div>
<div>
    <a class="boton-link" asp-action="Edit" asp-route-id="@Model.legajo">Editar</a> |
    <a class="boton-link" asp-action="Index">Volver al listado</a>
</div>
