@model IEnumerable<Seguimiento.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}


<h1>Empleados</h1>

<p>
    <a style="color:cornflowerblue;" asp-action="Create">Crear Nuevo Empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    <a style="color:cornflowerblue;" asp-action="Edit" asp-route-id="@item.legajo">Editar</a> |
                    <a style="color:cornflowerblue;" asp-action="Details" asp-route-id="@item.legajo">Detalles</a> |
                    <a style="color:cornflowerblue;" asp-action="Delete" asp-route-id="@item.legajo">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
