@model IEnumerable<Seguimiento.Models.Carrito>

@{
    ViewData["Title"] = "Index";
}

<div class="imagen_superior">
    <h1 class="titulo">Carrito</h1>
    <div class="d-flex p-0 bd-highlight">
        <a class="boton-link" asp-action="Procesar" style="color:forestgreen;">Procesar Envio</a>
        <p style="margin: 0px 10px 0px 10px; margin-bottom: 1rem"> || </p>
        <a class="boton-link" asp-action="DeleteAll" style="color:orangered;"> Eliminar Carrito</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPrecio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idTalle)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idNombre)
            </td>
            <td style="text-align: right;">
                @Html.DisplayFor(modelItem => item.idPrecio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idTalle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
