@model IEnumerable< Seguimiento.Models.Producto >

<div class="text-center">
    <h1 class="display-6">Administrador de Envios</h1>
</div>
<div>
    <div class="row">
        @*CARRITO*@
        <div class="col-sm-3">
            <div>
                <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <img src="./imagenes/basket.png" class="img-thumbnail" alt="Carrito" />
                    </div>
                    <div class="p-2 bd-highlight">
                        <h2 style="padding-top: 2.8rem;">Carrito</h2>
                    </div>
                </div>
                    <hr />
                    <br />
                    <table>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <hr />
                                    <h6>CANTIDAD ARTICULOS</h6>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr />
                                    <h6>SUBTOTAL</h6>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr />
                                    <h6>ENVIO</h6>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr />
                                    <h6 class="font-weight-bold">TOTAL</h6>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <hr />
                    <button class="btn btn-success">Procesar Envío</button>
                </div>
        </div>
        @*TABLA*@
        <div class="col-sm-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.imagen).ToUpper()
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.nombre).ToUpper()
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.precio).ToUpper()
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.talle).ToUpper()
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <img style="width: 7rem; height:auto;" class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.imagen)" alt="img" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.precio)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.talle)
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
