@model IEnumerable<Seguimiento.Models.Producto>

<body>
    <div class="d-flex justify-content-between imagen_superior">
        <div class="p-3 bd-highlight" style="height: 80px;">
            <div class="p-1 bd-highlight">
                <img src="./imagenes/basket.png" class="img-thumbnail" alt="Carrito" style="margin-top: -28px;border: none;" />
            </div>
        </div>
    </div>

    <div>
        <div class="row">
        @*CARRITO*@
            <div class="col-lg-4">
                <div>
                    <div class="d-flex flex-row bd-highlight mb-3" style="border-bottom: solid 2px; border-color: lightgrey">
                        <div class="p-2 bd-highlight">
                            <h4 class="celdas" >Carrito</h4>
                        </div>
                    </div>
                    <table>
                    @*ACA DESPLIEGUE*@
                        <tbody>
                            @if (ViewBag.carr != null)
                            {
                                foreach (var prod in ViewBag.carr)
                                {
                                    @using (Html.BeginForm("Delete", "Carritos"))
                                    {
                                        <tr>
                                            <td class="align-middle">
                                                @prod.idNombre
                                            </td>
                                            <td style="padding-left: 7rem; text-align: right;">
                                                @prod.idPrecio
                                            </td>
                                            <td>
                                                <input type="hidden" name="id" value=@prod.id />
                                                <button type="submit" class="btn btn-link" name="boton">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                    </svg>
                                                </button>
                                            </td>
                                        </tr>
                                        ViewBag.cont = ViewBag.cont + 1;
                                        ViewBag.sum = ViewBag.sum + prod.idPrecio;
                                        ViewBag.tot = ViewBag.sum + ViewBag.env;
                                    }
                                }
                            }
                                </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <hr />
                                    <h6>CANTIDAD ARTICULOS</h6>
                                </td>
                                <td class="align-middle" style="padding-left: 7rem; text-align: right;">
                                    <hr />
                                    <h6>@ViewBag.cont</h6>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr />
                                    <h6>SUBTOTAL</h6>
                                </td>
                                <td class="align-middle" style="padding-left: 7rem; text-align: right;">
                                    <hr />
                                    <h6>@ViewBag.sum</h6>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr />
                                    <h6>ENVIO</h6>
                                </td>
                                <td class="align-middle" style="padding-left: 7rem; text-align: right;">
                                    <hr />
                                    <h6>@ViewBag.env</h6>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr />
                                    <h6 class="font-weight-bold">TOTAL</h6>
                                </td>
                                <td class="align-middle" style="padding-left: 7rem; text-align: right;">
                                    <hr />
                                    <h6 class="font-weight-bold">@ViewBag.tot</h6>
                                </td>
                            </tr>
                        </tfoot>
                        </table>
                    </div>
            </div>
            @*TABLA*@
            <div class="col-sm-8">
                <table class="table">
                    <thead style="height: 3.5rem;">
                        <tr>
                            <th class="celdas" style="border-top: none;">
                                @Html.DisplayNameFor(model => model.imagen).ToUpper()
                            </th>
                            <th class="celdas" style="border-top: none;">
                                @Html.DisplayNameFor(model => model.nombre).ToUpper()
                            </th>
                            <th class="celdas" style="border-top: none;">
                                @Html.DisplayNameFor(model => model.precio).ToUpper()
                            </th>
                            <th class="celdas" style="border-top: none;">
                                @Html.DisplayNameFor(model => model.talle).ToUpper()
                            </th>
                            <th class="celdas" style="border-top: none;">
                                @Html.DisplayNameFor(model => model.cantidad).ToUpper()
                            </th>
                            <th style="border-top: none;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.cantidad > 0)
                            {
                                <tr>

                                    <td>
                                        <img style="width: 7rem; height:auto;" class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.imagen)" alt="img" />
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.precio)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.talle)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.cantidad)
                                    </td>
                                    
                                    @{
                                        double precio;
                                        if (ViewBag.tot == 0)
                                        {
                                            precio = item.precio;
                                        }
                                        else
                                        {
                                            precio = ViewBag.tot + item.precio;
                                        }
                                        using (Html.BeginForm("Crear", "Carritos"))
                                        {
                                            <td class="align-middle">
                                                <input type="hidden" name="idProducto" value=@item.id />
                                                <input type="hidden" name="idNombre" value="@item.nombre" />
                                                <input type="hidden" name="idPrecio" value=@item.precio />
                                                <input type="hidden" name="idTalle" value=@item.talle />
                                                <input type="hidden" name="totalCompra" value=@precio />
                                                <button type="submit" class="btn btn-link" name="boton">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                                                    </svg>
                                                </button>
                                            </td>
                                        }
                                    }
                                </tr>

                                }
                                        }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
