@model Seguimiento.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}

<h3 class="titulos_borrar">¿Seguro que quieres borrar el pedido?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comentarios).ToUpper()
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaEnvio).ToUpper()
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaEnvio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaInicio).ToUpper()
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado).ToUpper()
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="nroTraking" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a class="boton-link" asp-action="Index">Volver al listado</a>
    </form>
</div>
