@model Seguimiento.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h4 class="titulos_detalles">Detalles del envio</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaEnvio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
</div>
<div>
    <a class="boton-link" asp-action="Edit" asp-route-id="@Model.nroTraking">Editaar</a> |
    <a class="boton-link" asp-action="Index">Volver al listado</a>
</div>
