@model IEnumerable<Seguimiento.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1 class="titulo imagen_superior">Envios</h1>
<table class="table">
    <thead>
        <tr>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.fechaInicio).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.estado).ToUpper()
            </th>
            <th class="celdas">
                ENCARGADO
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.fechaEnvio).ToUpper()
            </th>
            <th class="celdas">
                CLIENTE
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.comentarios).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.nroTraking).ToUpper()
            </th>
            <th>
                @*LISTA*@
            </th>
            <th>
                @*CLIENTE*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            ViewBag.idLista = ViewBag.idLista + item.id.ToString();
            ViewBag.idCliente = ViewBag.idCliente + item.clienteId.ToString();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaInicio)
                </td>
                <td>
                    @{
                        switch (item.estado)
                        {
                            case Estado.Pendiente:
                                <p style="color: orangered; font-weight: bold;">PENDIENTE</p>
                                break;
                            case Estado.Preparado_ya_pago:
                                <p style="color: darkolivegreen ; font-weight: bold;">PREPARADO / PAGADO</p>
                                break;
                            case Estado.preparado_no_pago:
                                <p style="color: indianred ; font-weight: bold;">PREPARADO / ADEUDA</p>
                                break;
                            case Estado.Enviado:
                                <p style="color: limegreen ; font-weight: bold;">ENVIADO</p>
                                break;
                            case Estado.Recibido:
                                <p style="color: darkslateblue ; font-weight: bold;">RECIBIDO</p>
                                break;
                            default:
                                <p>SIN ESTADO</p>
                                break;
                        }
                    }
                </td>
                <td>
                    @if (ViewBag.emp != null)
                    {
                        foreach (var e in ViewBag.emp)
                        {
                            if (item.empleadoId == e.legajo)
                            {
                                <p>@e.nombre @e.apellido</p>
                            }
                        }
                    }
                </td>
                <td>
                    @if (item.fechaEnvio == DateTime.MinValue)
                    {
                        <p style="color: orangered; font-weight: bold;">SIN ASIGNAR</p>
                    }
                    else
                    {
                        @item.fechaEnvio
                    }
                </td>
                <td>
                    @if (ViewBag.cli != null)
                    {
                        foreach (var e in ViewBag.cli)
                        {
                            if (item.clienteId == e.id)
                            {
                                <p>@e.nombre @e.apellido</p>
                            }
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comentarios)
                </td>
                <td>
                    @if (item.nroTraking == 0)
                    {
                        <p style="color: orangered; font-weight: bold;">SIN ASIGNAR</p>
                    }
                    else
                    {
                        @item.nroTraking
                    }
                </td>
                <td>
                    <a type="submit" class="btn btn-link" data-toggle="modal" data-target="#@ViewBag.idLista" name="boton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-card-checklist" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </a>
                </td>
                <td>
                    <a type="submit" class="btn btn-link" data-toggle="modal" data-target="#@ViewBag.idCliente" name="boton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-person-rolodex" viewBox="0 0 16 16">
                            <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                            <path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1H1Zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1V2Z" />
                        </svg>
                    </a>
                </td>
                <td>
                    <a class="btn btn-link" asp-action="Edit" asp-route-id="@item.id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                    </a>
                </td>
                <td>
                    <a class="btn btn-link" asp-action="Delete" asp-route-id="@item.id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </a>
                </td>
            </tr>
            @*MODAL*@
            <div id="@ViewBag.idLista" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h4>Lista Productos</h4><br />
                            <ol>
                                @{
                                    List<int> nueva = new List<int>();
                                    foreach (var p in ViewBag.comp)
                                    {
                                        if (item.id == p.idCarrito)
                                        {
                                            nueva.Add(p.idProducto);
                                        }
                                    }

                                    foreach (var prod in ViewBag.prod)
                                    {
                                        foreach (var i in nueva)
                                        {
                                            if (i == prod.id)
                                            {
                                                <li><strong>Producto:</strong> @prod.nombre.ToUpper()</li>
                                                <p><strong>Talle:</strong> @prod.talle</p>
                                                <br />
                                            }
                                        }
                                    }
                                }
                            </ol>
                            <h5>Total: $@item.totalCompra</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div id="@ViewBag.idCliente" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h4>Cliente</h4><br />
                            @foreach (var c in ViewBag.cli)
                            {
                                if (c.id == item.clienteId)
                                {
                                    <h5>Datos Personales</h5>
                                    <ul>
                                        <li><strong>Nombre:</strong> @c.nombre @c.apellido</li>
                                        <li><strong>DNI:</strong> @c.dni</li>
                                        <li><strong>Mail:</strong> @c.mail</li>
                                        <li><strong>Tel:</strong> @c.telefono</li>
                                    </ul>
                                    foreach (var d in ViewBag.dir)
                                    {
                                        if (c.direccionId == d.id)
                                        {
                                            <h5>Dirección</h5>
                                            <ul>
                                                <li><strong>Calle:</strong> @d.calle</li>
                                                <li><strong>Nro:</strong> @d.numero</li>
                                                <li><strong>Localidad:</strong> @d.localidad</li>
                                                <li><strong>Referencia:</strong> @d.referencia</li>
                                                <li><strong>Provincia:</strong> @d.provincia</li>
                                            </ul>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
