@model IEnumerable<Seguimiento.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1 class="titulo imagen_superior">Envios</h1>
<table class="table">
    <thead>
        <tr>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.fechaInicio).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.estado).ToUpper()
            </th>
            <th class="celdas">
                ENCARGADO
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.fechaEnvio).ToUpper()
            </th>
            <th class="celdas">
                CLIENTE
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.comentarios).ToUpper()
            </th>
        </tr>
    </thead>
    <tbody>
         @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @if (ViewBag.emp != null)
                {
                    foreach (var e in ViewBag.emp)
                    {
                        if (item.empleadoId == e.legajo)
                        {
                            <p>@e.nombre @e.apellido</p> 
                        }
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaEnvio)
            </td>
            <td>
                @if (ViewBag.cli != null)
                {
                    foreach (var e in ViewBag.cli)
                    {
                        if (item.clienteId == e.id)
                        {
                            <p>@e.nombre @e.apellido</p>
                        }
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comentarios)
            </td>
            <td>
                <a class="boton-link" asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a class="boton-link" asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                <a class="boton-link" asp-action="Delete" asp-route-id="@item.id">Borrar</a>
            </td>
        </tr>
            }
    </tbody>
</table>
