@model IEnumerable<Seguimiento.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1 class="titulo imagen_superior">Envios</h1>

<p>
    <a class="boton-link" asp-action="Create">Crear un envio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.total).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.fechaInicio).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.estado).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.empleadoId).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.fechaEnvio).ToUpper()
            </th>

            <th class="celdas">
                @Html.DisplayNameFor(model => model.comentarios).ToUpper()
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empleadoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comentarios)
            </td>
            <td>
                <a class="boton-link" asp-action="Edit" asp-route-id="@item.nroTraking">Editar</a> |
                <a class="boton-link" asp-action="Details" asp-route-id="@item.nroTraking">Detalles</a> |
                <a class="boton-link" asp-action="Delete" asp-route-id="@item.nroTraking">Borrar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
