@model Seguimiento.Models.Direccion

@{
    ViewData["Title"] = "Details";
}

<h4 class="titulos_detalles">Detalles de la dirección</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.provincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.provincia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.localidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.localidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a class="boton-link" Back to List</a>
</div>
