@model IEnumerable<Seguimiento.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1 class="titulo">Clientes</h1>

<p>
    <a  class="boton-link" asp-action="Create">Crear un nuevo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.nombre).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.apellido).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.dni).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.telefono).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.mail).ToUpper()
            </th>
            <th class="celdas">
                @Html.DisplayNameFor(model => model.direccion).ToUpper()
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>

            <td>
                <a class="boton-link"asp-action="Edit" asp-route-id="@item.dni">Editar</a> |
                <a class="boton-link" asp-action="Details" asp-route-id="@item.dni">Detalles</a> |
                <a class="boton-link" asp-action="Delete" asp-route-id="@item.dni">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
