@model IEnumerable<Seguimiento.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a  style="color:cornflowerblue;" asp-action="Create">Crear Nuevo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre).ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido).ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono).ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mail).ToUpper()
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>

            <td>
                <a style="color:cornflowerblue;" asp-action="Edit" asp-route-id="@item.dni">Editar</a> |
                <a style="color:cornflowerblue;" asp-action="Details" asp-route-id="@item.dni">Detalles</a> |
                <a style="color:cornflowerblue;" asp-action="Delete" asp-route-id="@item.dni">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
